body {
    background-color: rgba(255, 255, 255, 0.8); 
    background-image: url('../images/Duck_Pose.jpg'); /* Relative path to your image */
    background-size: cover; /* Ensure the image covers the entire background *//* Centers the image */
    background-repeat: no-repeat; /* Avoid repeating the image */
  }
  
h1 {
  color: #007030;
  text-align: center;
}

.majorSelect  { 
  font-weight: bold;
  color: black; 
}

nav { 
   
    background-color: rgba(255, 255, 255, 0.8); 
    margin: 10px; 
    width: 180px; 
    height: 25px; 
    font-family: monospace;
    text-align: center;
    border-radius: 30px; /* rounded corners */
    font-size: 16px;

    
}
nav a{
  text-decoration: none;
}
.select {
  margin: auto; 
  width: 30%;
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 30px; /* rounded corners */
  text-align: center; 
  margin-top: 80 px;
  font-family: monospace;
}

.course{
  width: 65%;
}

th { 
  width: 100%;
}



#duckLogo {
  display: flex;
  justify-content: center; /* Centers the logo horizontally */
  align-items: flex-start; /* Aligns the logo at the top */
  height: 30vh; /* Full viewport height */
}

img {
  max-width: 100%;
  height: auto;
}

.forms{
  border-radius: 30px;
  font-family: monospace;
}

