<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DUUCK Reviews</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
  <div id="background">

    <div id="duckLogo">
      <img src ="../static/images/duckLogo.png" width="200" height = "150" >
    </div>

    {% for course in courses%}
    <div class="select">
	<table border="1">
	    <thead>
		<tr>
		    <th>Course</th>
		    <th>Professor</th>
		    <th>Day</th>
		    <th>Time</th>
		    <th>Location</th>
		    <th>CRN</th>
		</tr>
	    </thead>
	    <tbody>
		<tr>
		    <td>{{course.course}}</td>
		    <td>{{course.Professor}}</td>
		    <td>{{course.day}}</td>
		    <td>{{course.time}}</td>
		    <td>{{course.room}}</td>
		    <td>{{course.crn}}</td>
		</tr>
	    </tbody>
	</table>
	{% if course.Professor in reviews%}
	<table border="1">
	    <thead>
		<tr>
		    <th>Comments</th>
		    <th>Rating</th>
		    <th>Difficulty</th>
		</tr>
	    </thead>
	    {% for review in reviews %}
		{% if review.professor_name == course.Professor %}
		<tbody>
		    <tr>
			<td>{{review.comment}}</td>
			<td>{{review.rating}}</td>
			<td>{{review.difficulty_rating}}</td>
		    </tr>
		</tbody>
		{% endif %}
	    {% endfor %}
	</table>
        {% endif %}
    </div>

  </div>
</body>
</html>
