<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DUUCK Reviews</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
  <div id="background">

    <div id="duckLogo">
      <img src ="../static/images/duckLogo.png" width="200" height = "150" >
    </div>

    <div class="select">

      <form name="form1" method="POST" action="/courses">

        <label for="subject" class ="majorSelect"> Select a Major: </label>

        <select name = "subject" id="subject" class="forms">
          <option value = "Computer Science">Computer Science</option>
          <option value = "Business Administration">Business Administration</option>
          <option value= "Psychology">Psychology</option>
        </select>

        <br>
        <br>

        <label for="courses" class ="majorSelect"> Select a Class: </label>

        <select name="courses" id = courses class="forms">
	    <option value="None">No Selection</option>
          {%for courses in courses%} 
          <!-- used Jinja2 to loop through the courses list. Each item becomes a new option.-->
            <option value="{{ courses }}">{{ courses }}</option> 
          {%endfor%}
        </select>

        <br>
        <br>
        <label for="prof" class = 'majorSelect'> Select a Professor: </label>
        <select name ='prof' id="prof" class="forms">
	    <option value="None">No Selection</option>
          {%for profs in profs%}
          <option value = "{{profs}}"> {{profs}} </option>
          {%endfor%}
        </select>
        <br>
        <br>
        <input type="submit" value="Submit" class = "forms">
      </form>
    </div>
  </div>
</body>
</html>
